name: CI

description: Continuous Integration Workflow for QSleeperFantasyBot

permissions:
  contents: write

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    uses: qubone/q-python-ci-tools/.github/workflows/python-ci.yml@main
