name: CI

description: Continuous Integration Workflow for kicker_to_pick module

permissions:
  contents: write

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    uses: qubone/q-python-ci-actions/.github/workflows/python-ci.yml@main
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
    with:
    import-module: kicker_to_pick