name: CI

description: Continuous Integration Workflow for QSleeperFantasyBot

permissions:
  contents: write

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    uses: qubone/q-python-ci-actions/.github/workflows/python-ci.yml@main
    secrets:
      # Provide the token so the release step can push tags
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}